<div class="card mb-5" style="width: 350px; height: 500px; text-align: center">
  <img class="card-img-top mx-auto" src="{{shisha.acf.image}}" alt="Card image cap" style="width: 300px; height: 300px; text-align: center">
  <div class="card-body border-top">
    <h5 class="card-title">{{shisha.acf.brand}} - {{shisha.acf.name}}</h5>
    <p><b>Höhe: </b>{{shisha.acf.size}} cm</p>
    <p><b>Material: </b>{{shisha.acf.material}}</p>
    <p><b>Schlauchanschlüsse: </b>{{shisha.acf.connectors}}</p>
  </div>
</div>
