<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Smokebase</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="./tobaccos">Tabak</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./shishas">Shisha</a>
      </li>
    </ul>
  </div>
</nav>
-->
<nav class="navbar navbar-expand-custom navbar-mainbg">
  <a class="navbar-brand navbar-logo" routerLink="./">Smokebase</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
      <li class="nav-item">
        <a class="nav-link active" routerLink="./">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./tobaccos">Tabaksorten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./shishas">Shishas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./mysmokebase">MySmokebase</a>
      </li>
    </ul>
  </div>
</nav>
