  <div class="card mb-5" style="width: 300px; height: 450px; text-align: center">
    <img class="card-img-top img-fluid" src="{{tobacco.acf.image}}" alt="Card image cap" style="width: 300px; height: 300px; text-align: center">
    <div class="card-body border-top">
      <h5 class="card-title">{{tobacco.acf.brand}} - {{tobacco.acf.name}}</h5>
      <p>Geschmacksrichtung:
        <span *ngFor = "let flavor of tobacco.acf.flavor; last as l" class="card-text">
          <span *ngIf="!l">{{flavor}}, </span>
          <span *ngIf="l">{{flavor}}</span>
        </span>
      </p>
    </div>
  </div>

