<div style="width: 80%;" class="mx-auto mt-5">
  <div class="row" *ngIf="!authService.isLoggedIn()">
    <div class="col">
      <h1>Willkommen bei Smokebase!</h1>
      <h5>Melde dich jetzt an, um Kommentare verfassen zu können!</h5>

      <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
        <label for="email" class="sr-only">E-Mail</label>
        <input type="email" id="email" class="form-control mb-2" placeholder="Email address" formControlName="username" required autofocus>
        <label for="password" class="sr-only">Passwort</label>
        <input type="password" id="password" class="form-control mb-2" placeholder="Password" formControlName="password" required>

        <button id="login_button" type="submit">Anmelden</button>
        <p class="mt-2" id="registerLink">Du hast noch keinen Smokebase-Account? Jetzt registrieren!</p>
      </form>

    </div>
    <div class="col"></div>
  </div>

  <div class="row" *ngIf="authService.isLoggedIn()">
    <div class="col">
      <h1 *ngIf="authService.isLoggedIn()">Willkommen bei Smokebase, {{authService.getUsername()}}!</h1>
      <p>Du kannst jetzt Kommentare unter deinen favorite Tabaks und Shishas hinterlassen!</p>
      <button id="logout_button" (click)="logout()">Abmelden</button>
    </div>
    <div class="col">

    </div>


  </div>

</div>
