<div style="width: 80%;" class="mx-auto mt-5">
  <div class="justify-content-start">
    <h1>{{tobacco.acf.brand}} - {{tobacco.acf.name}}</h1>
    <div class="row">
      <div class="col">
        <p>{{tobacco.acf.description}}</p>
        <p class="mb-0"><b>Füllmenge:</b></p>
        <p>{{tobacco.acf.amount}} g</p>
        <p class="mb-0"><b>Diese Geschmacksrichtungen erwarten dich im {{tobacco.acf.name}}:</b></p>
        <ul>
          <li *ngFor = "let flavor of tobacco.acf.flavor;">
            {{flavor}}</li>
        </ul>
      </div>
      <div class="col">
        <img class="center" src="{{tobacco.acf.image}}" style="width: 300px;">
      </div>
    </div>
    <hr>

    <h1>Kommentare</h1>
    <div *ngFor = "let comment of comments[0];" class="row">
      <div class="col-10">
        <div class="card mb-3" >
          <p class="card-text ml-3">{{app.cleanComment(comment.content["rendered"])}}</p>
          <p class="card-text ml-3"><small class="text-muted">von {{comment.author_name}}</small></p>
        </div>
      </div>
      <div class="col-2">
        <button class="delete_comment_button" id="{{comment.id}}" (click)="deleteComment(comment.id)">Kommentar löschen</button>
      </div>
    </div>

    <form  class="form-comment mt-5" [formGroup]="commentFormTobacco" (submit)="addComment()">
      <div>
        <label class="sr-only">Dein Kommentar</label>
        <textarea type="text" class="form-control mb-2" placeholder="Schreibe etwas ..." formControlName="comment" required ></textarea>

      </div>
      <button id="add_comment_button" type="submit" (click)="addComment()">Kommentar hinzufügen</button>
    </form>

  </div>
</div>
