<div style="width: 80%;" class="mx-auto mt-5">
  <div class="justify-content-start">
    <h1>{{tobacco.acf.brand}} - {{tobacco.acf.name}}</h1>
    <div class="row">
      <div class="col">
        <p class="float-left">{{tobacco.acf.description}}</p>
        <p class="mb-0"><b>Diese Geschmacksrichtungen erwarten dich im {{tobacco.acf.name}}:</b></p>
        <ul>
          <li *ngFor = "let flavor of tobacco.acf.flavor;">
            {{flavor}}</li>
        </ul>
      </div>
      <div class="col">
        <img class="center" src="{{tobacco.acf.image}}" style="width: 300px;">
      </div>
    </div>
  </div>
</div>
