<div id="home" style="width: 80%;" class="mx-auto mt-5">
  <h1 class="text-center">Willkommen bei Smokebase!</h1>
  <h5 class="text-center">🍊🍒 Choose your destiny 🍒🍊</h5>

  <div class="row mx-auto text-center">
    <div class="col " id="Tabaksorten" routerLink="/tobaccos">
      <div class="image">
        <img src="assets/1.jpg">
      </div>
    </div>

    <div class="col" id="Shishas" routerLink="/shishas">
      <div class="image">
        <img src="assets/2.jpg">
      </div>

    </div>
  </div>
</div>
